name: E2E
on:
  pull_request:

permissions:
  contents: read

jobs:
  e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup base environment
        uses: ./.github/actions/build-dependency

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Build
        run: pnpm run build

      - name: Start server
        run: pnpm run start & npx wait-on@latest http://localhost:3000

      - name: Run E2E
        run: pnpm exec playwright test --reporter=line

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          if-no-files-found: ignore
